[submodule "Raylib-Pallanguzhi/app/src/main/cpp/deps/freetype"]
	path = Raylib-Pallanguzhi/app/src/main/cpp/deps/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Raylib-Pallanguzhi/app/src/main/cpp/deps/harfbuzz"]
	path = Raylib-Pallanguzhi/app/src/main/cpp/deps/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
